.catalog
  .container
    h2.catalog__title.title Каталог ASD LAMINAT
    .rules.catalog__rules
      span.rules__title Условия поставки:
      p.rules__text.text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat. Duis aute irure  quis nostrud exercitation ullamco laboris nisi
        | ut aliquip ex ea commodo consequat. Duis aute irure  
    .products.catalog-products
      .options.products-options
        span.options__title Подобрать по параметрам:
        ul.options__list
        -var list = ["Формат", "Толщина", "Теснение", "Защитная пленка", "Коллекция"]
        for item in list  
          li.options__item
            a.options__link(href='#')= item
            span.options__img
              +svgsprite("arrow")
            ul.options__panel
              - for (var x = 1; x < 4; x++)
                li.options__sub-item
                  a.options__link(href='#')= item + x
        ul.options__list.options__list2
          li.options__item
            a.options__sale.options__link(href='#') Распродажа
          li.options__item
            a.options__sale.options__link(href='#') Новинки
        a.main-btn.options__main-btn(href='#')
          span.main-btn_wrap Подобрать
        a.options__reset(href='$') Сбросить параметры
      .product-list.catalog__product-list
        .display
          span.display__title Вариант отображения товаров:
          a.display__link(href='#')
            +svgsprite("display1")
          a.display__link(href='#')
            +svgsprite("display2")
        ul.catalog__list
        - for (var x = 0; x < 8; x++)
          li.product-list__elem
              .purchase
                .purchase__block.purchase__wrap
                  | Стоимость: 
                  span.purchase__cost 5.50 €
                  a.purchase__link.product-list__purchase(href='#') Добавить в корзину
              a(href='#')
                i.sprite.-thumbnail
              a.product-list__title(href='#') WOODLINE 221
              ul.catalog__list-sub
                -var sub = ["Формат (мм): 0,4х36мм", "Коллекция: Однотонные", "Материал: Пластик", "Производитель: LEMARK"]
                for elem in sub
                  li.product-list__elem-sub= elem 
        .pagination.product-list__pagination
          ul
            li.pagination__item
              a.pagination__item_start(href='#')
                +svgsprite("arrow_l")
                | В начало
            li.pagination__item
              a(href='#') 1
            li.pagination__item
              a.pagination__item_active(href='#') 2
            li.pagination__item
              a.pagination__item_next(href='#') 3
            li.pagination__item
              a.pagination__item_end(href='#')
                | В конец
                +svgsprite("arrow_r")
    .rules.catalog__rules
      span.rules__title Коллекция ARARA:
      p.rules__text.text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
        | et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        | aliquip ex ea commodo consequat. Duis aute irure  quis nostrud exercitation ullamco laboris nisi
        | ut aliquip ex ea commodo consequat. Duis aute irure