.contact
  .map.contact__map
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.9744363774107!2d30.48879395150018!3d59.93285598190112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTnCsDU1JzU4LjMiTiAzMMKwMjknMjcuNSJF!5e0!3m2!1sru!2sby!4v1518909378163" width="100%" height="602" frameborder="0" style="border:0" allowfullscreen></iframe>
    .map-point
      //-i.sprite.-map-point
  .contact__location.location
    h2.contact__title.title КОНТАКТНАЯ ИНФОРМАЦИЯ
    span.location__phone.contact__phone
      +svgsprite("u_phone")
      |8 (495) 960 68 15
    a.main-btn.location__btn(href='#')
      span.main-btn_wrap Заказать звонок
    span.location__mail.contact__mail
      +svgsprite("mail_l")
      | sales@general-plast.ru
    p.location__text
      +svgsprite("point")
      span.location__text_m Офис:
      |  г. Москва, м. Кожуховская, ул. Угрешская, д.2,
      |               строение 36, бизнес-центр «IQ-Park»
      br
      br
      span.location__text_m Адрес склада:
      |  14-й км МКАД, Котельники,
      |               мкр. Белая дача, Коммерческий проезд, строение Е,
      |               складской комплекс «Технопром»