.feedback-wrap
    .feedback
        .feedback__title Появились вопросы? Пишите!
        form.feedback__form.send
            .feedback-input__wrap    
                .contact-form
                    +svgsprite("smartphone")
                    input.mask.contact-form__input.feedback__input(placeholder="Введите Ваш телефон" name='phone')
                    span.contact-form__sub Чтобы мы могли связаться с Вами
                .contact-form
                    +svgsprite("email")
                    input.contact-form__input.feedback__input(placeholder="Введите Ваш e-mail" type="email" name='email')
                    span.contact-form__sub.feedback__sub Чтобы мы могли ответить Вам
            .contact-form.textarea
                +svgsprite("speech-bubble")
                textarea.feedback__textarea(placeholder="Задайте Ваш вопрос здесь" name='description')
            .contact-form__btn.figure
                button(type="submit").contact-form__btn-text Задать свой вопрос
                +svgsprite("cursor")
            .feedback__license.license
                +svgsprite("checked")
                |Я даю согласие на обработку персональных данных и соглашаюсь с 
                a(href="#" onclick="event.preventDefault()").license__link.popup__btn политикой конфиденциальности
