mixin header(options)
  - options = options ? options : {};

  header.header
    .header__logo.logo
      a(href="#").logo__link
        img(src="../images/logo.png" alt="logo")
      a(href="#").logo__link_sm
        img(src="../images/logo-dark.png" alt="logo-dark")
      span.logo__sub-text Поставки оборудования для производства пеллет
    .header__contact.contact
      span.contact__item_phone
        +svgsprite("call")
        a(href="tel:+78126703030").contact__item_phone-link +7 (812)
          span 670 30 30
      span.contact__item_adress
        +svgsprite("placeholder")
        |Санкт-Петербург,
        |Аптекарская наб., д.6