mixin asd-header(options)
  - options = options ? options : {};

  header.header
    .container
      .logo.header__logo
        a(href="#")
          img(src="../images/logo.png")
      .header-center
        .header-center__wrap
          .header-center__callback.callback
            +svgsprite("phone")
            a.callback__item(href='#')
              | 8 (495) 
              span._hightlight 960 68 15
            a.callback__item2(href='#')|  Заказать обратный звонок
          .header-center__contact.header-contact
            a.header-contact__item.header-center__contact-item(href='#')
              +svgsprite("mail")
              |sales@general-plast.ru
            a.header-contact__item.header-center__contact-item(href='#')
              +svgsprite("skype")
              span.header-contact__item_light skype:
              |  generalplast
          .menu_sm
            a.menu_sm-link.sm-link Меню
              +svgsprite("arrow")
            ul.menu_sm-list
              - var menu = ["Наша продукция", "Каталог кромки", "Скидка 15%", "Статьи", "Контакты"];
              for name in menu
                li.nav__link.header-nav__item
                  a(href='#')= name
        nav.nav.header-nav
          ul.nav__list
            - var menu = ["Наша продукция", "Каталог кромки", "Скидка 15%", "Статьи", "Контакты"];
            for name in menu
              li.nav__link.header-nav__item
                a(href='#')= name
      .bascet.header-bascet
        a.bascet__link(href='#')
          +svgsprite("bascet")
          span.bascet__num 0
          |                   Корзина пуста