doctype html
html(lang='en', class="no-js")
    head
        include head.jade
    body
        include /_includes/mixins/svgsprite

        include /_includes/header

        block content
            span no content provided

        include scripts.jade