.request
  .container
    h2.request__title.title Не нашли подходящий товар?
    p.request__text.text
      span._hightlight Оставьте заявку на консультацию
      | , и наш специалист свяжется с Вами в ближайшее время
    form.form.request__form
      .form__wrapper
        +svgsprite("name")
        input.form__input(type='text', placeholder='Как к вам обращаться?')
      .form__wrapper
        +svgsprite("u_phone")
        input.form__input(type='text', placeholder='Куда вам перезвонить?')
      .form__wrapper
        +svgsprite("mail_l")
        input.form__input(type='text', placeholder='На какой e-mail написать?')
    button.main-btn.request__btn.popup__open
      span.main-btn_wrap.request__btn_wrap Оставить заявку
  include popup.jade