.asd-ad-wrap
  .asd-wrapper
    .asd-ad.asd-content-ad
      h1.asd-ad__title.asd-content-ad__title ASD LAMINAT
      span.asd-ad__del ПО ЦЕНАМ ПРОИЗВОДИТЕЛЯ И ДОСТАВКОЙ ПО ВСЕЙ РФ
      p.asd-ad__text.asd-content-ad__text
        | Полный модельный ряд.
        | Наличие товара на складе 100%
      a.asd-ad__link.asd-content-ad__link(href='#')
        span.asd-ad__link_wrap Получить консультацию
      .asd-ad__angle
  .asd-description.ad-desc
    .asd-description__angle
    .asd-description__wrap.ad-desc__wrap
      ul.asd-descritpion__ul
        li.asd-description__elem
          +svgsprite("desc1")
          span.asd-description__text Полная складская прогамма, удовлетворяющая всем требованиям
        li.asd-description__elem
          +svgsprite("desc2")
          span.asd-description__text Официальные цены производителей без накруток, единая торговая и ценовая политика
        li.asd-description__elem
          +svgsprite("desc3")
          span.asd-description__text Осуществляем доставку по всей территории России, имеется собственный транспорт
    .asd-description__angle.asd-description__angle_right