.ad-wrap
  .container
    .ad.content-ad
      h1.ad__title.content-ad__title ASD LAMINAT
      span.ad__del ПО ЦЕНАМ ПРОИЗВОДИТЕЛЯ И ДОСТАВКОЙ ПО ВСЕЙ РФ
      p.ad__text.content-ad__text
        | Полный модельный ряд.
        | Наличие товара на складе 100%
      a.main-btn.content-ad__main-btn(href='#')
        span.main-btn_wrap Получить консультацию
      .ad__angle
  .description.ad-desc
    .description__angle
    .description__wrap.ad-desc__wrap
      ul.descritpion__ul 
        li.description__elem
          +svgsprite("desc1")
          span.description__text Полная складская прогамма, удовлетворяющая всем требованиям
        li.description__elem
          +svgsprite("desc2")
          span.description__text Официальные цены производителей без накруток, единая торговая и ценовая политика
        li.description__elem
          +svgsprite("desc3")
          span.description__text Осуществляем доставку по всей территории России, имеется собственный транспорт
    .description__angle.description__angle_right