.thanks
    h1.thanks__title Спасибо, что приняли решение
      br 
      |обратиться в нашу компанию
    h2.thanks__sub-title Вы сделали правильный выбор!
    .thanks__btn.contact-form__btn.figure
        a(href="#").contact-form__btn-text.thanks__btn-text Вернуться на главную страницу