body, h1, h2, h3, h4, h5, p{
    margin: 0;
}
a{
    text-decoration: none;
    color: #252525;
}

button{
    border: none;
    outline: none;
    font-family: unset;
    font-size: unset;
    padding: 0;
    background: none;
}

input{
    background: none;
    border: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
}

input {
    outline: none;
}