@media (max-width: 1300px){
	.container{
		width: 100%;
	}
	.wrap, .footer{
		padding: 0 20px;
	}
}

@media (max-width: 890px){
	.rules{
		&__item{
			font-size: 15px;
		}
	}
	.footer{
		&__container{
			flex-direction: column;
			align-items: center;
		}
		&__contact, &__copyright{
			margin-top: 15px;
			width: auto;
			align-items: center;
		}
		&__copyright{
			order: 1;
		}
	}
}

@media (max-width: 845px){
	.price{
		&__download{
			flex-direction: column;
			align-items: center;
			.contact-form{
				height: 35px;
				margin-bottom: 20px;
				border: 1px transparent;
			}
		}
		&__figure{
			padding: 60px 85px;
		}
		.figure{
			&::before, &::after{
				transform: skew(0deg, -10deg);
			}
		}
	}
	.description{
		&__list-item{
			font-size: 18px;
		}
		&__rules{
			padding-top: 65px;
		}
	}
	.thanks{
		&__title{
	        margin-top: 150px;
	        font-family: Geometria-Heavy;
	        font-size: 32px;
	        color: @figure;
    	}
    	&__sub-title{
	        font-family: Geometria;
	        font-size: 20px;
	        color: #17255F;
	        margin-top: 55px;
    	}
	}
}

@media (max-width: 710px){
	.rules{
		flex-direction: column;
		align-items: center;
		&__item{
			width: 100%;
			margin-bottom: 15px;
		}
	}
}

@media (max-width: 600px){
	.header{
		flex-direction: column;
		align-items: center;
		background: #FFF;
		margin: 0 -20px;
		.logo{
			margin-bottom: 10px;
			&__link{
				display: none;
				&_sm{
					display: block;
				}
			}
		}
		.contact__item{
			&_adress{
				display: none;
			}
			&_phone{
				&-link{
					color: #000;
				}
				.-call{
					fill: #000!important;
				}
			}
		}
		.contact{
			width: unset;
		}
	}
	
	.description{
		&__title{
			text-align: center;
			margin: 0;
		}
		&__list-item{
			font-size: 16px;
		}
	}
	.popup{
		width: 100%;
	}
	.thanks{
		text-align: center;
		&__title{
	        margin-top: 150px;
	        font-family: Geometria-Heavy;
	        font-size: 28px;
	        color: @figure;
    	}
    	&__sub-title{
	        font-family: Geometria;
	        font-size: 23px;
	        color: #17255F;
	        margin-top: 55px;
    	}
    	&__title{
    		margin-top: 50px;
    	}
	}
}

@media (max-width: 535px){
	.textarea{
		display: inline-flex;
		margin-top: 0;
	}
	.feedback{
		&-input__wrap{
			display: block;
		}
		&__textarea{
			width: 210px;
			line-height: unset;
			height: 90px;
		}
		.-speech-bubble{
			vertical-align: middle;
		}
		.contact-form{
			margin-bottom: 40px;
			&__btn{
				margin-top: 0;
				padding: 3px 30px;
			}
		}
	}
}

@media (max-height: 500px){
	.popup{
		height: 100%;
		overflow: scroll;
	}
}

@media (max-width: 485px){
	.description{
		&__list-item{
			text-align: center;
			font-size: 14px;
			line-height: 17px;
			.figure{
				display: table;
				margin: auto;
				float: none;
			}
		}
	}
	.price{
		&__figure{
			padding: 60px 13px;
			text-align: center;
			.-smartphone{
				padding: 0 10px 0 35px;
			}
		}
	}
	.contact{
		&__item_phone{
			font-size: 20px;
			&::before{
				left: -1px;
				top: 10px;
			}
		}
	}
	.popup{
		&__header-title{
			font-size: 16px;
		}
	}
	.license{
		width: 205px;
		text-align: center;
	}
}