@media (max-width: 1520px){
	.callback{
		width: 230px;
		&__item{
			font-size: 26px;
		}
		&__item2{
			font-size: 15px;
		}
	}
	.header-contact{
		width: 190px;
		&__item{
			font-size: 14px;
		}
	}
}

@media (max-width: 1315px){
	.header-center{
		width: 65%;
		&__callback{
			margin-left: 60px;
		}
	}
	.nav{
		&__link{
			font-size: 15px;
		}
	}
}

@media (max-width: 1255px){
	.header-center{
		&__wrap{
			border-bottom: none;
		}
	}
	.callback{
		margin: 0;
		&__item{
			font-size: 24px;
		}
		&__item2{
			font-size: 13px;
		}
	}

	.header-contact{
		display: none;
	}
	.nav{
		&__list{
			display: none;
		}
	}
	.menu_sm{
		display: block;
		position: relative;
		text-align: center;
		&-list{
			width: 100%;
			margin-top: 25px;
			.header-nav__item{
				padding: 5px 15px 0 0;
			}
		}
		&-link{
			font-size: 20px;
		}
	}
	.active_sm{
		.menu_sm{
			&-list{
				height: 25px;
				padding: 0 5px 10px;
			}
		}
	}
}

@media (max-width: 1125px){
	.header-center{
		width: 60%;
	}
	.logo{
		img{
			width: 120px;
		}
	}
	.active_sm{
		.menu_sm{
			&-list{
				height: 50px;
			}
			&-link{
				font-size: 18px;
			}
		}
	}
}

@media (max-width: 1000px){
	.header-center{
		width: 58%;
	}
}

@media (max-width: 820px){
	.container{
		width: 100%;
		padding: 0 10px;
	}
	.callback{
		float: none;
		margin: 0 auto;
	}
	.header-center__wrap{
		padding-bottom: 5px;
	}
	.header{
		&__logo{
			text-align: center;
			margin: 0;
			float: none;
		}
		&-center{
			width: 100%;
		}
	}
	.bascet{
		display: table;
		margin: 0 auto;
		padding-top: 15px;
		float: none;
	}
	.menu_sm{
		text-align: center;
		margin-top: 10px;
		&-list{
			margin: 0;
			padding: 0!important;
			position: unset;
		}
	}
	.active_sm{
		.menu_sm-list{
			height: 35px;
		}
	}
}

@media (max-width: 565px){
	.active_sm{
		.menu_sm-list{
			height: 60px;
		}
	}
}

@media (max-width: 300px){
	.active_sm{
		.menu_sm-list{
			height: 85px;
		}
	}
}