@media (max-width: 1520px){
	.callback{
		width: 230px;
		&__item{
			font-size: 26px;
		}
		&__item2{
			font-size: 15px;
		}
	}
	.header-contact{
		width: 190px;
		&__item{
			font-size: 14px;
		}
	}
}

@media (max-width: 1315px){
	.header-center{
		width: 65%;
		&__callback{
			margin-left: 60px;
		}
	}
	.nav{
		&__link{
			font-size: 15px;
		}
	}
}

@media (max-width: 1255px){
	.contact__sm{
		display: table;
	}
	.header-contact{
		display: none;
	}
	.nav{
		&__list{
			display: none;
		}
	}
	.menu_sm{
		display: table;
		position: relative;
		margin: 0 auto;
		&-list{
			width: 170px;
			position: absolute;
			left: -50px;
			height: 0px;
			overflow: hidden;
			.header-nav__item{
				padding: 5px 15px 0 0;
			}
		}
		&-link{
			font-size: 20px;
		}
	}
}

@media (max-width: 1125px){
	.header-center{
		width: 62%;
	}
}

@media (max-width: 990px){
	.container{
		width: 90%;
	}
	.callback, .contact__sm{
		float: none;
		margin: 0 auto;
	}
	.contact__sm{
		padding: 10px;
	}
	.header-center__wrap{
		padding-bottom: 5px;
	}
	.header{
		&__logo{
			text-align: center;
			margin: 0;
			float: none;
		}
		&-center{
			width: 100%;
		}
	}
	.bascet{
		display: table;
		margin: 0 auto;
		padding-top: 15px;
		float: none;
	}
}