.request{
    text-align: center;
    font-family: Geometria;
    background: url(../../images/request-bg.jpg) no-repeat center;
    padding-bottom: 61px;
    position: relative;
    background-size: cover;
    &__title{
        padding: 100px 0 40px;
    }
    &__text{
        width: 65%;
        font-size: 24px;
        margin: 0 auto;
    }
    &__ad-link{
        display: block;
        margin: 0 auto;
    }
    &__form{
        text-align: center;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    &__btn{
        margin: 0 auto;
        height: 45px;
        width: 20.3%;
        &_wrap{
            display: block;
        }
    }
    &__input{
        margin: 0 50px;
    }
}

.form{
    display: table;
    &__wrapper{
        display: inline-block;
        border-bottom: 1px solid #f14f11;
        margin-right: 45px;
        width: 320px;
    }
    &__input{
        border: none;
        font-size: 18px;
        line-height: 35px;
        width: 230px;
    }
 }