.-call{
	font-size: 22px;
}

.-placeholder{
	font-size: 31px;
}

.-call, .-placeholder{
	align-self: center;
	padding-right: 15px;
	fill: #fff!important;
}

.-quality{
	font-size: 32px;
	vertical-align: middle;
	padding: 4px 0;
}

.-checked{
	font-size: 16px;
    background-color: rgba(255, 255, 255, 0.6);
    float: left;
    margin-right: 5px;
    padding-left: 2px;
    fill: #142156;
}

.-smartphone, .-email, .-speech-bubble{
	align-self: center;
    padding: 0 10px 0 35px;
    stroke: @figure;
    font-size: 22px;
    fill: @figure!important;
}

.-download{
	stroke: @figure;
    vertical-align: middle;
    font-size: 20px;
}

.-users-group, .-calendar-with-a-clock-time-tools, .-wallet-filled-money-tool{
	font-size: 32px;
    opacity: 0.5;
}

.-cursor{
	vertical-align: middle;
}

.feedback__form{
	.-checked{
		background: @sub;
		fill: #fff;
	}
}

.footer{
	.-call, .-placeholder{
		fill: @figure!important;
	}
}