.container{
    width: 1170px;
    margin: 0 auto;
    clear: both;
}

.ad-wrap{
    height: 790px;
    background: url('../../images/ad-bg.jpg') no-repeat center;
    position: relative;
}

._hightlight{
    color: @col;
}