extends /_includes/layout.jade

block title
  title ASD
  meta(name="description", content="")

block content
  +asd-header
  section
    include /_includes/slider.jade
    include /_includes/catalog.jade
    include /_includes/request.jade
    include /_includes/contact.jade
  footer
