extends /_includes/layout.jade

block title
  title ПромДиалог
  meta(name="description", content="")

block content
  .wrap
    .container
        +header
        section
            include /_includes/content.jade
        include /_includes/popup.jade
  include /_includes/feedback.jade
+footer