.svgsprite {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;

    &.-building {
    	width:(512/512)*1em;
    }
    &.-calendar-with-a-clock-time-tools {
    	width:(512/512)*1em;
    }
    &.-call {
    	width:(512/512)*1em;
    }
    &.-checked {
    	width:(512/512)*1em;
    }
    &.-close {
    	width:(212.98/212.98)*1em;
    }
    &.-cursor {
    	width:(297/297)*1em;
    }
    &.-download {
    	width:(33.29/33.29)*1em;
    }
    &.-email {
    	width:(512/512)*1em;
    }
    &.-placeholder {
    	width:(512/512)*1em;
    }
    &.-quality {
    	width:(512/512)*1em;
    }
    &.-smartphone {
    	width:(512/512)*1em;
    }
    &.-speech-bubble {
    	width:(512/512)*1em;
    }
    &.-user {
    	width:(512/512)*1em;
    }
    &.-users-group {
    	width:(512/512)*1em;
    }
    &.-wallet-filled-money-tool {
    	width:(512/512)*1em;
    }
}